<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Paciente</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
<p:panel header="EMPLEADO">
	<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
					action="index"></p:menuitem>
			</p:menubar>
		</h:form>
		</div>

	<div align="center">
		<h:form id="form1">
			<p:autoUpdate />
			<p:panel header="Registrar nuevo Paciente" style="width: 800px;">
				<p:panelGrid columns="2" style="width: 400px;">
					<h:outputText value="Tipo de Sangre" />
					<p:selectOneMenu id="tipo_sangre"
						value="#{beanPaciente.tiposangre_i}">
						<f:selectItems value="#{beanPaciente.listaTiposangre}"
							var="tipo_sangre" itemLabel="#{tipo_sangre.grupoSanguineo}"
							itemValue="#{tipo_sangre.idTipoSangre}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Ciudad" />
					<p:selectOneMenu id="tipo_ciudad" value="#{beanPaciente.ciudad_i}">
						<f:selectItems value="#{beanPaciente.listaCiudad}"
							var="tipo_ciudad" itemLabel="#{tipo_ciudad.nombre}"
							itemValue="#{tipo_ciudad.idCiudad}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Genero" />
					<p:selectOneMenu id="tipo_genero" value="#{beanPaciente.genero_i}">
						<f:selectItems value="#{beanPaciente.listaGenero}"
							var="tipo_genero" itemLabel="#{tipo_genero.nombre}"
							itemValue="#{tipo_genero.idGenero}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Cedula" />
					<p:inputText value="#{beanPaciente.crearPaciente.cedula}"
						maxlength="10" required="true" requiredMessage="Debe Ingresar su Cedula">
				<p:keyFilter regEx="/[\d\]/"/> 
				</p:inputText>

					<h:outputText value="Nombre" />
					<p:inputText value="#{beanPaciente.crearPaciente.nombre}"
							maxlength="10" required="true" requiredMessage="Debe Ingresar sus Nombres">
				<p:keyFilter regEx="/[a-z_]/i"/> 
				</p:inputText>
<h:outputText value="Apellido" />
				<p:inputText value="#{beanPaciente.crearPaciente.apellido}" 
					maxlength="10" required="true" requiredMessage="Debe Ingresar sus Apellidos">
				<p:keyFilter regEx="/[a-z_]/i"/> 
				</p:inputText>
				
				<h:outputText value="Fecha Ingreso" />
				 <p:calendar id="button1" value="#{beanPaciente.crearPaciente.fechaIngreso}" 
				showOn="button" required="true"
							requiredMessage="Ingresar su Fecha de Ingreso" />
			<h:outputText value="Fecha Nacimiento" />
				 <p:calendar id="button" value="#{beanPaciente.crearPaciente.fechanac}"
				  showOn="button" required="true"
							requiredMessage="Ingresar su Fecha de Nacimiento" />
			<h:outputText value="Edad" />
				<p:inputText value="#{beanPaciente.crearPaciente.edad}" 
				maxlength="2" required="true" requiredMessage="Debe Ingresar su Edad">
				<p:keyFilter regEx="/[\d\-]/"/> </p:inputText>
				
				<h:outputText value="Telefono" />
				<p:inputText value="#{beanPaciente.crearPaciente.telefono}" 
				maxlength="10" required="true" requiredMessage="Debe Ingresar su numero telefonico">
				<p:keyFilter regEx="/[\d\-]/"/> </p:inputText>
				<h:outputText value="Direccion" />
				<p:inputText value="#{beanPaciente.crearPaciente.direccion}" 
				maxlength="50" required="true" requiredMessage="Debe Ingresar la direccion del domicilio">
				<p:keyFilter regEx="/[a-z_]/i"/> 
				</p:inputText>
				<h:outputText value="email" />
				<p:inputText value="#{beanPaciente.crearPaciente.email}" 
				maxlength="50" required="true" requiredMessage="Debe Ingresar Correo Electronico">
				<p:keyFilter regEx="/[a-z0-9_\.\-@]/i"/> 
				</p:inputText>
				
				<h:outputText value="Enfermedades" />
				<p:inputText value="#{beanPaciente.crearPaciente.enfermedades}" 
				maxlength="50" required="true" requiredMessage="Debe Ingresar enfermedad Paciente">
				<p:keyFilter regEx="/[a-z_]/i"/> 
				</p:inputText>

			<p:commandButton value="Insertar" icon="fa fa-save"
						style="width: 400px;" update="@form,:form2"
						actionListener="#{beanPaciente.actionListenerInsertarPaciente()}"></p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
		<p:separator/>
	</div>
	</p:panel>
	<div align="center">
		<h:form id="form2">
			<p:panel header="Lista de Pacientes">
				<p:dataTable value="#{beanPaciente.lista_paciente}"
					var="paciente" reflow="true" rows="10" paginator="true">
					<p:column headerText="Cedula">
						<h:outputText value="#{paciente.cedula}"></h:outputText>
					</p:column>
					<p:column headerText="Nombre">
						<h:outputText value="#{paciente.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Apellido">
						<h:outputText value="#{paciente.apellido}"></h:outputText>
					</p:column>
					<p:column headerText="Fecha Nacimiento">
						<h:outputText value="#{paciente.fechanac}"></h:outputText>
					</p:column>
					<p:column headerText="Fecha Ingreso">
						<h:outputText value="#{paciente.fechaIngreso}"></h:outputText>
					</p:column>
					<p:column headerText="Tipo Sangre">
						<h:outputText value="#{paciente.tipoSangre.grupoSanguineo}"></h:outputText>
					</p:column>
					<p:column headerText="Genero">
						<h:outputText value="#{paciente.genero.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Ciudad">
						<h:outputText value="#{paciente.ciudad.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Teléfono">
						<h:outputText value="#{paciente.telefono}"></h:outputText>
					</p:column>
					<p:column headerText="Dirección">
						<h:outputText value="#{paciente.direccion}"></h:outputText>
					</p:column>
					<p:column headerText="email">
						<h:outputText value="#{paciente.email}"></h:outputText>
					</p:column>
					
					<p:column headerText="enfermedades">
						<h:outputText value="#{paciente.enfermedades}"></h:outputText>
					</p:column>
						
				</p:dataTable>
			</p:panel>
		</h:form>
		</div>
</body>
</html>
