<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
			<title>Cargos</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panel header="ADMINISTRADOR">
	<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
					action="index"></p:menuitem>
			</p:menubar>
		</h:form>
	</div>
	
	<div align="center">
	<h:form id="form1">
			<p:autoUpdate/>
		<p:panel header="Registrar nuevo Cargo de Doctores" style="width: 800px;">
			<p:panelGrid columns="2">
				<h:outputText value="Especialización: " />
				<p:inputText value="#{beanCargo.cargo.especializacion}" 
required="true" requiredMessage="Ingresar la Nuevo Cargo de Departamento"
				maxlength="50">
				<p:keyFilter regEx="/[a-z_]/i"/> 
			</p:inputText>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanCargo.actionListenerInsertarCargo()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	</div>
	</p:panel>
	
	<h:form id="form2">
	<p:autoUpdate />
		<p:panel header="Cargos de doctores">
			<p:dataTable value="#{beanCargo.listaArea}" reflow="true" var="rol"
				paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{rol.idCargo}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.idCargo}" />
				</p:column>
				<p:column headerText="ESPECIALIZACION" filterBy="#{rol.especializacion}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.especializacion}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanCargo.actionListenerEliminarCargo(rol.idCargo)}">
						<p:confirm header="Confirmación" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanCargo.actionListenerSeleccionarCargo(rol)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	
	<p:dialog header="Editar " widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id cargo:" />
			<h:outputText value="#{beanCargo.cargoSeleccionado.idCargo}" />
			<p:panelGrid columns="2">
				<h:outputText value="Descripcion:" />
				<p:inputText value="#{beanCargo.cargoSeleccionado.especializacion}" required="true" requiredMessage="Ingresar todos los campos"/>
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save" update="@form,:form2"
				actionListener="#{beanCargo.actionListenerActualizarCargo()}" />
		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
