<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>ADMINISTRADOR</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<div id="menu">
	<p:panel header="ADMINISTRADOR">	
		<h:form>
			<p:menubar>
				<p:menuitem value="Nuevo Medico" action="medico.xhtml"/>
				<p:menuitem value="Nuevo Paciente" action="paciente.xhtml"/>
				<p:menuitem value="Nuevo Turno" action="turno.xhtml"/>
				<p:menuitem value="Nuevo Departamento" action="areas.xhtml"/>
				<p:menuitem value="Nuevos datos Suple" action="Suple.xhtml"/>
				<p:menuitem value="DATOS SUPLETORIO" action="Prueba.xhtml"/>
				<f:facet name="options">
					<p:commandButton title="Cerrar sesión" icon="ui-icon-power" action="#{beanLogin.cerrarSesion()}"/>
				</f:facet>
			</p:menubar>
		</h:form>
		</p:panel>
	</div>
	
	
</body>
</html>