<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panel header="ADMINISTRADOR">
		<div id="menu">
			<h:form>
				<p:menubar>
					<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
						action="index"></p:menuitem>
					<p:submenu label="Opciones">
						<p:menuitem value="Nuevo Cargo" action="cargos.xhtml" />
						<p:menuitem value="Nuevo Ciudad" action="ciudad.xhtml" />
						<p:menuitem value="Nuevo Genero" action="genero.xhtml" />
					</p:submenu>
				</p:menubar>
			</h:form>
		</div>

		<div align="center">
			<h:form id="form1">
				<p:autoUpdate />
				<p:panel header="Registrar nuevo Médico" style="width: 800px;">
					<p:panelGrid columns="2" style="width: 400px;">
						<h:outputText value="Especialidad(Cargo)" />
						<p:selectOneMenu id="tipo_cargo" value="#{beanMedico.cargo_i}">
							<f:selectItems value="#{beanMedico.listaCargo}" var="tipo_cargo"
								itemLabel="#{tipo_cargo.especializacion}"
								itemValue="#{tipo_cargo.idCargo}" autoupdate="@form1" />
						</p:selectOneMenu>
						<h:outputText value="Genero" />
						<p:selectOneMenu id="tipo_genero" value="#{beanMedico.genero_i}">
							<f:selectItems value="#{beanMedico.listaGenero}" var="tipo_genero"
								itemLabel="#{tipo_genero.nombre}"
								itemValue="#{tipo_genero.idGenero}" autoupdate="@form1" />
						</p:selectOneMenu>
						<h:outputText value="Ciudad" />
						<p:selectOneMenu id="tipo_ciudad" value="#{beanMedico.ciudad_i}">
							<f:selectItems value="#{beanMedico.listaCiudad}" var="tipo_ciudad" 
								itemLabel="#{tipo_ciudad.nombre}"
								itemValue="#{tipo_ciudad.idCiudad}" autoupdate="@form1" />
						</p:selectOneMenu>
						<h:outputText value="Nombre" />
						<p:inputText value="#{beanMedico.crearMedico.nombre}"
							required="true" requiredMessage="Ingresar todos los campos">
							<p:keyFilter regEx="/^[a-z\-_\s]+$/i" />
						</p:inputText>
						<h:outputText value="Apellido" />
						<p:inputText value="#{beanMedico.crearMedico.apellido}"
							required="true" requiredMessage="Ingresar todos los campos">
							<p:keyFilter regEx="/^[a-z\-_\s]+$/i" />
						</p:inputText>
						<h:outputText value="Fecha Nacimiento" />
						<p:calendar id="button" value="#{beanMedico.crearMedico.fechanac}"
							showOn="button" required="true"
							requiredMessage="Ingresar todos los campos" />
						<h:outputText value="Telefono" />
						<p:inputText value="#{beanMedico.crearMedico.telefono}"
							maxlength="10" required="true"
							requiredMessage="Ingresar todos los campos">
							<p:keyFilter regEx="/[\d\-\.]/" />
						</p:inputText>
						<h:outputText value="Direccion" />
						<p:inputText value="#{beanMedico.crearMedico.direccion}"
							required="true" requiredMessage="Ingresar todos los campos" />
						<h:outputText value="Email" />
						<p:inputText value="#{beanMedico.crearMedico.email}"
							required="true" requiredMessage="Ingresar todos los campos">
							<p:keyFilter regEx="/[a-z0-9_\.\-@]/i" />
						</p:inputText>
						<p:commandButton value="Insertar" icon="fa fa-save"
							style="width: 400px;" update="@form,:form2"
							actionListener="#{beanMedico.actionListenerInsertarMedico()}"></p:commandButton>
					</p:panelGrid>
				</p:panel>
			</h:form>
			<p:separator />
		</div>
	</p:panel>

	<div align="center">
		<h:form id="form2">
			<p:panel header="Datos de Médicos">
				<p:dataTable value="#{beanMedico.listaMedicos}" var="medico"
					reflow="true" rows="10" paginator="true">
					<p:column headerText="Nombre">
						<h:outputText value="#{medico.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Apellido">
						<h:outputText value="#{medico.apellido}"></h:outputText>
					</p:column>
					<p:column headerText="Fecha Nacimiento">
						<h:outputText value="#{medico.fechanac}"></h:outputText>
					</p:column>
					<p:column headerText="Especializacíon">
						<h:outputText value="#{medico.cargo.especializacion}"></h:outputText>
					</p:column>
					<p:column headerText="Genero">
						<h:outputText value="#{medico.genero.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Ciudad">
						<h:outputText value="#{medico.ciudad.nombre}"></h:outputText>
					</p:column>
					<p:column headerText="Teléfono">
						<h:outputText value="#{medico.telefono}"></h:outputText>
					</p:column>
					<p:column headerText="Dirección">
						<h:outputText value="#{medico.direccion}"></h:outputText>
					</p:column>
					<p:column headerText="email">
						<h:outputText value="#{medico.email}"></h:outputText>
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
