<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"

	  xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
			<title>Prueba departamentos</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panel header="ADMINISTRADOR">
	<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
					action="index"></p:menuitem>
			</p:menubar>
		</h:form>
	</div>
	<div align="center">
	<h:form id="form1">
			<p:autoUpdate/>
		<p:panel header="Registrar nueva prueba" style="width: 800px;">
			<p:panelGrid columns="2">
				<h:outputText value="Descripcion: " />
			<p:inputText value="#{beanPrueba.prueba.descripcion}" 
			required="true" requiredMessage="Ingresar la Nueva Area de Departamento"
				>
				
			</p:inputText>
						<h:outputText value="Fecha" />
						<p:calendar id="button" value="#{beanPrueba.prueba.fecha}"
							showOn="button" required="true"
							requiredMessage="Ingresar todos los campos" />
							
							<h:outputText value="entero: " />
			<p:inputText value="#{beanPrueba.prueba.cantidad}" 
			required="true" requiredMessage="Ingresar la Nueva Area de Departamento"
				>
				
			</p:inputText>
							<h:outputText value="double: " />
			<p:inputText value="#{beanPrueba.prueba.precio}" 
			required="true" requiredMessage="Ingresar la Nueva Area de Departamento"
				>
				
			</p:inputText>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanPrueba.actionListenerInsertarPrueba()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	</div>
	</p:panel>
	
	<br />
	<h:form id="form2">
		<p:panel header="Prueba">
			<p:dataTable value="#{beanPrueba.listaPrueba}" reflow="true" var="rol"
				paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{rol.idprueba}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.idprueba}" />
				</p:column>
				<p:column headerText="DESCRIPCION" filterBy="#{rol.descripcion}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.descripcion}" />
				</p:column>
								<p:column headerText="FECHA" filterBy="#{rol.fecha}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.fecha}" />
				</p:column>
								<p:column headerText="ENTERO" filterBy="#{rol.cantidad}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.cantidad}" />
				</p:column>
								<p:column headerText="DOUBLE" filterBy="#{rol.precio}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.precio}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanPrueba.actionListenerEliminarPrueba(rol.idprueba)}">
						<p:confirm header="Confirmación" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>

	

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
	
	<h:panelGrid columns="2">

	<p:column>
		
					<h:outputText value="suma entero: #{beanPrueba.pago}" update="@form"/>
					
				
				</p:column>
			</h:panelGrid>
	
	
</body>
</html>
      