<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
			<title>Tipo de Sangre</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panel header="ADMINISTRADOR">
	<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
					action="index"></p:menuitem>
				
			</p:menubar>
		</h:form>
	</div>
	<div align="center">
	<h:form id="form1">
			<p:autoUpdate/>
		<p:panel header="Registrar nuevo Tipo de sangre" style="width: 800px;">
			
			<p:panelGrid columns="2">
				<h:outputText value="Tipo de sangre" />
				<p:inputText value="#{beanTipoSangre.tipoSangre.grupoSanguineo}" 
	maxlength="3" required="true" requiredMessage="Debe Ingresar el Tipo de sangre">
				<p:keyFilter regEx="/[a-z_]/i+/-"/> 
				</p:inputText>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanTipoSangre.actionListenerInsertar()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	</div>
	</p:panel>
	<br />
	<h:form id="form2">
		<p:panel header="TIPOS DE SANGRE">
			<p:dataTable value="#{beanTipoSangre.lista}" reflow="true" var="rol"
				paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{rol.idTipoSangre}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.idTipoSangre}" />
				</p:column>
				<p:column headerText="SANGRE" filterBy="#{rol.grupoSanguineo}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{rol.grupoSanguineo}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanTipoSangre.actionListenerEliminar(rol.idTipoSangre)}">
						<p:confirm header="Confirmación" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanTipoSangre.actionListenerSeleccionar(rol)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>

	<p:dialog header="Editar" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id de tipo de sandre: " />
			<h:outputText value="#{beanTipoSangre.seleccionado.idTipoSangre}" />
			<p:panelGrid columns="2">
				<h:outputText value="Tipo de sangre:" />
				<p:inputText value="#{beanTipoSangre.seleccionado.grupoSanguineo}" required="true" requiredMessage="Ingresar todos los campos"/>
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save" update="@form,:form2"
				actionListener="#{beanTipoSangre.actionListenerActualizar()}" />
		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
