<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<body> 

<p:growl>
		<p:autoUpdate />
	</p:growl>
	
	<p:panel header="ADMINISTRADOR">
		<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="Inicio" title="Inicio" icon="ui-icon-home"
					action="index"></p:menuitem>
			</p:menubar>
		</h:form>
		</div>
	
	<div align="center">
		<h:form id="form1">
			<p:autoUpdate />
			<p:panel header="Registrar nuevo Turno" style="width: 800px;">
				<p:panelGrid columns="2" style="width: 400px;">
					<h:outputText value="Médico" />
					<p:selectOneMenu id="medico"
						value="#{beanTurno.medico_i}">
						<f:selectItems value="#{beanTurno.listaMedicos}"
							var="medico" itemLabel="#{medico.nombre}"
							itemValue="#{medico.idMedico}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Paciente" />
					<p:selectOneMenu id="paciente" value="#{beanTurno.paciente_i}">
						<f:selectItems value="#{beanTurno.lista_paciente}"
							var="paciente" itemLabel="#{paciente.nombre}"
							itemValue="#{paciente.idPaciente}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Area" />
					<p:selectOneMenu id="area" value="#{beanTurno.area_i}">
						<f:selectItems value="#{beanTurno.listaArea}"
							var="area" itemLabel="#{area.descripcion}"
							itemValue="#{area.idArea}" autoupdate="@form1" />
					</p:selectOneMenu>
					<h:outputText value="Fecha Reserva" />
				 <p:calendar id="button" value="#{beanTurno.crearTurno.fechaReserva}" showOn="button" />
					
					<h:outputText value="Hora" /> 
					
<p:datePicker id="timeonlyMinMax" value="#{beanTurno.crearTurno.hora}"
 timeOnly="true" pattern="HH:mm" />
					
   
	  <h:outputLabel for="@next" value="Numero de reserva: " />
        <p:spinner id="basic" value="#{beanTurno.crearTurno.numeroReserva}"
 min="1" max="10"/>
						
						
						
			<p:commandButton value="Insertar" icon="fa fa-save"
						style="width: 400px;" update="@form,:form2"
						actionListener="#{beanTurno.actionListenerInsertarTurno()}"></p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
		<p:separator/>
	</div>
	</p:panel>
	<div align="center">
		<h:form id="form2">
			<p:panel header="Lista de Turnos">
				<p:dataTable value="#{beanTurno.lista_turno}"
					var="turno" reflow="true" rows="10" paginator="true">
					<p:column headerText="Medico">
						<h:outputText value="#{turno.medico}"></h:outputText>
					</p:column>
					<p:column headerText="Paciente">
						<h:outputText value="#{turno.paciente}"></h:outputText>
					</p:column>
					<p:column headerText="Area">
						<h:outputText value="#{turno.area}"></h:outputText>
					</p:column>
					<p:column headerText="Fecha Reserva">
						<h:outputText value="#{turno.fechaReserva}">
						<p:calendar id="button" value="#{beanTurno.crearTurno.fechaReserva}"
							showOn="button" required="true"
							requiredMessage="Ingresar la Fecha Reservacion" />
						</h:outputText>
					</p:column>
					<p:column headerText="Hora">
						<h:outputText value="#{turno.hora}">
				        </h:outputText>
					</p:column>
					<p:column headerText="Número de turno">
						<h:outputText value="#{turno.numeroReserva}"></h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
		</div>
	
</body> 
</html>
