<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Turno</title>
	</f:facet>
</h:head> 
<body> 

<p:growl>
		<p:autoUpdate />
	</p:growl>
	
	<p:panel header="USUARIO">
		<div id="menu">
		<h:form>
			<p:menubar>
					<f:facet name="options">
					<p:commandButton title="Cerrar sesión" icon="ui-icon-power" action="#{beanLogin.cerrarSesion()}"/>
				</f:facet>
			</p:menubar>
		</h:form>
		</div>
	
	<div align="center">
		<h:form id="form2">
			<p:panel header="Lista de Turnos">
				<p:dataTable value="#{beanTurno.lista_turno}"
					var="turno" reflow="true" rows="10" paginator="true">
					<p:column headerText="Medico">
						<h:outputText value="#{turno.medico}"></h:outputText>
					</p:column>
					<p:column headerText="Paciente">
						<h:outputText value="#{turno.paciente}"></h:outputText>
					</p:column>
					<p:column headerText="Area">
						<h:outputText value="#{turno.area}"></h:outputText>
					</p:column>
					<p:column headerText="Fecha Reserva">
						<h:outputText value="#{turno.fechaReserva}"></h:outputText>
					</p:column>
					<p:column headerText="Hora">
						<h:outputText value="#{turno.hora}"></h:outputText>
					</p:column>
					<p:column headerText="Número de turno">
						<h:outputText value="#{turno.numeroReserva}"></h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
		</div>
		</p:panel>
	
</body> 
</html>
