<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<!-- Required meta tags -->
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<link rel="icon" href="resources/hospice/img/favicon.png" type="image/png"></link>
	<title>Centro de Salud Subcentro</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="resources/hospice/css/bootstrap.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/linericon/style.css"></link>
	<link rel="stylesheet" href="resources/hospice/css/font-awesome.min.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/owl-carousel/owl.carousel.min.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/lightbox/simpleLightbox.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/nice-select/css/nice-select.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/animate-css/animate.css"></link>
	<link rel="stylesheet" href="resources/hospice/vendors/jquery-ui/jquery-ui.css"></link>
	<!-- main css -->
	<link rel="stylesheet" href="resources/hospice/css/style.css"></link>
	<link rel="stylesheet" href="resources/hospice/css/responsive.css"></link>

</h:head> 
<body> 

<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="top_menu row m0">
			<div class="container">
				<div class="float-left">
					<ul class="left_side">
						<li>
							<a href="login.html">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="fa fa-behance"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="float-right">
					<ul class="right_side">
						<li>
							<a href="login.html">
								<i class="lnr lnr-phone-handset"></i>
								0983083659
							</a>
						</li>
						<li>
							<a href="#">
								<i class="lnr lnr-envelope"></i>
								ajmoranb@utn.edu.ec
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html">
						<img src="resources/hospice/img/logo.png" alt=""></img>
						</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link" href="Login.xhtml">Iniciar Sesión</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	
	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-12">
						<h1>CENTRO SALUD SAN PABLO</h1>
						<p>Sin salud la vida no es vida; es solo un estado de languidez y sufrimiento – una imagen de la muerte.-Buda.</p>
						<a class="main_btn mr-10" href="Login.xhtml">Iniciar Sesión</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

<!--================ start footer Area =================-->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2  col-md-6">
					<div class="single-footer-widget">
						<h6>Desarrolladores</h6>
						<ul class="footer-nav">
							<li>
								<a href="#">Samir Andrade</a>
							</li>
							<li>
								<a href="#">Sebastián Pabón</a>
							</li>
							<li>
								<a href="#">Alejandro Morán</a>
							</li>
							<li>
								<a href="#"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4  col-md-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Contactos</h6>
						<h3>0959124839</h3>
						<h3>0983083659</h3>
						<h3>0996951434</h3>
					</div>
				</div>
				
			</div>
		</div>
	</footer>

</body> 
</html>
