<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>LOGIN</title>
	</f:facet>
	
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	
	<div id="menu">
	<p:panel >	
		<h:form>
			<p:menubar>
				
				<f:facet name="options">
					<p:commandButton title="INICIO" icon="fa fa-home" action="index.xhtml"/>
				</f:facet>
			</p:menubar>
		</h:form>
		</p:panel>
	</div>
	
	<div align="center">
	<p:panel header="INICIAR SESION" style="width:400px">
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Ingrese el usuario:" />
				<p:inputText value="#{beanLogin.usuario}" required="true" maxlength="20" size="15"
					requiredMessage="Debe ingresar el usauario." />
				<h:outputText value="Clave:" />
				<p:password value="#{beanLogin.clave}"  feedback="true"  inline="true" required="true" requiredMessage="Ingrese una Clave" size="15">
				</p:password>
			</h:panelGrid>
			<br/>
			<p:commandButton action="#{beanLogin.login()}" value="Ingresar"  />
			<br/>
		</h:form>
	</p:panel>
	</div>
</body>
</html>
